<!--07070491555 -->
{% extends "blog/base.html" %}
{%  load crispy_forms_tags %}
{% block content %}
<div class="content-section p-4 border rounded">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-3">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>

</div>
{% endblock %}